* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: "Merriweather", sans-serif;
}
.gradient-Text{
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}