.skill-container {
  animation: shake 3s ease-in-out infinite 3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .skill-container {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
